body{
 margin-top: 10px;
 margin-left: 30px;
 margin-right: 30px;
 margin-bottom: 30px;
 background: rgb(214, 212, 212);
 text-transform: uppercase;
}
h1{
  background-color: rgba(255, 255, 255, 0.952);
  padding: 20px;
}
.ph{
  color: white;
  padding: 13px;
  font-size: 30px;
 
}
.ph:nth-of-type(1){
  background-color: #0000FF;
}
.ph:nth-of-type(2){
  background-color: #1A1AFF;
}
.ph:nth-of-type(3){
  background-color: #3333FF;
}
.ph:nth-of-type(4){
  background-color: #4D4DFF;
}
.ph:nth-of-type(5){
  background-color: #6666FF;
}
.ph:nth-of-type(6){
  background-color: #8080FF;
}
.ph:nth-of-type(7){
  background-color: #9999FF;
}
.ph:nth-of-type(8){
  background-color: #B3B3FF;
}
.ph:nth-of-type(9){
 background-color: #90EE90;

}
.ph:nth-of-type(10){
  background-color: #ffd6e8;
}
.ph:nth-of-type(11){
 background-color:  #ffc2df;
}
.ph:nth-of-type(12){
  background-color: #ffadce;
}
.ph:nth-of-type(13){
  background-color: #ff99c6;
}
.ph:nth-of-type(14){
  background-color: #ff85bd;
}
.ph:nth-of-type(15){
  background-color: #ff70b4;
}
.ph:nth-of-type(16){
  background-color: #ff5cae;
}
