
*{
    margin: 0;
    padding: 0;
}
body{

   
}
.container{
width: 100%;
margin-bottom: 50px;
    background-color: rgb(99, 98, 98);
display: inline-flex;
justify-content: center;

}
.sub-container{
    margin: 10px;
    width: 90%;
    display: inline-flex;
justify-content: center;
    align-items: center;
    background-color: rgb(99, 98, 98);
}

.logo img{
    height:50px;
    width:50px
}

.list ul li {
  
    display: inline;
   margin: 20px;
   font-size: 20px;

   list-style: none;
}
a{
   color: white;
     text-decoration: none;
}
a:hover{
    text-decoration: underline;
}



button{
    padding: 15px;
    color: white;
    width: 110px;
    border: none;
    background-color: green;
    border-radius: 4px;

}
.products{
    margin-top:40px;
    width:300px;
    height: 500px;
box-shadow: 1px 1px 10px grey;
display: inline-block;
margin-left: 20px;
margin-left: 20px;
    text-align: center;

}
.products-container{
    width: 100%;
 display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
       background-image: url("https://img.freepik.com/free-photo/colorful-shopping-bags_23-2147652050.jpg?semt=ais_hybrid&w=740&q=80");
        
background-size: cover;
    background-repeat: no-repeat;
}
.products:hover{
    box-shadow: 2px 2px 20px grey;
    cursor: pointer;
  
}
.shoes img{
width: 300px;
height: 300px;
border: 1px solid black;

}
.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
}
ins{
    color: rgb(158, 131, 131);
    text-decoration: none;
    font: bold;

}

del{
    font-weight: bold;
    font-size: 30px;
}

footer{
    margin-top: 28px;
    width: 100%;
    height: 300px;
     background-color:  rgb(62, 60, 60);
     display: inline-flex;
     align-items: center;
        justify-content: center;
        
}

.main-footer{
    text-align: center;
    color: white;
    padding: 50px;
   
       margin: auto;
       width: 400px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    padding: 10px;
    font-size: 28px;
    color: white;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: rgb(225, 230, 227);
    transform: scale(1.2);
}
