/* Products Page */

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
  text-align: center;
  margin: 50px 0;
  color: #555;
  position: relative;
}

.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.3s;
}

.col-4 img {
  width: 100%;
}

.col-4 h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* Responsive */
@media (max-width: 800px) {
  .col-4 {
    flex-basis: 50%;
  }
}

@media (max-width: 500px) {
  .col-4 {
    flex-basis: 100%;
  }
}
