*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#1e1e1e;
    width: auto;
   height: 5em;
    color: white;
}
.pub{
    font-size: 2rem;
}
.sign{
    background-color: #1e1e1e;
    border-radius: 7em;
    width: 100px;
    color: white;
    font-size: 15px;
    padding: 15px;
    border: none;
}
.btn2{
    background-color: aliceblue;
    color: black;
}
.sub-el{
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}



.container{
    background-color: aquamarine;
    width: 100%;
    display: flex;
 justify-content: space-around;
 height: auto;
}
.left{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.left h1{
    font-size: 3rem;
}
.left p {
    font-size: 20px;
}
.input-wrap{
  width: 350px;
    position: relative;
}
.input-wrap input{
    width: 100%;
   padding:10px;
    height:40px;
    box-sizing: border-box;
    border: none;
    border-radius: 0.2rem;
}
.input-wrap button{
    position: absolute;
   border: none;
   top: 3.5px;
   right: 10px;
    padding: 9px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 0.3rem;
    padding: 8px;
    width: 100px;
}
 .right{
    margin-top:80px;
    margin-bottom: 40px;
 }
.right img{
    height: 500px;
    width: 400px;
}

@media (max-width: 1024px) {

  .pub {
    font-size: 1.6rem;
  }

  .sub-el {
    font-size: 1rem;
    gap: 15px;
  }

  .sign {
    width: 90px;
    padding: 12px;
    font-size: 14px;
  }

  .left {
    margin-top: 100px;
  }

  .right img {
    width: 350px;
    height: auto;
  }
}
@media (max-width: 768px) {


  .nav {
    padding: 0 20px;
    justify-content: space-between;
    width:100vw;

  }

  .pub {
    font-size: 0.9rem;
  }

  .sub-el {
    font-size: 0.8rem;
    gap: 10px;
  }

  .sign {
    width: 7rem;
    padding: 10px;
    font-size: 13px;
  }


  .container {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }

  .left {
    margin-top: 40px;
    text-align: center;
    align-items: center;
    gap: 20px;
  }

  .left h1 {
    font-size: 2.1rem;
  }

  .left p {
    font-size: 15px;
  }

 
  .input-wrap {
    width: 100%;
    max-width: 340px;
  }

  .input-wrap input {
    padding-right: 105px;
  }


  .right img {
    width: 320px;
    height: auto;
  }
}
@media (max-width: 480px) {

  .nav{
    display: flex;
gap: 40px;
  }
  .pub {
    font-size: 1.1rem;
  }

  .sub-el {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    gap: 6px;
  }

  .sign {
    width: 70px;
    padding: 8px;
    font-size: 12px;
  }

 
  .left h1 {
    font-size: 1.7rem;
  }

  .left p {
    font-size: 14px;
  }


  .input-wrap {
    max-width: 100%;
  }

  .input-wrap button {
    width: 80px;
    font-size: 12px;
  }

  .input-wrap input {
    padding-right: 90px;
  }

  
  .right img {
    width: 260px;
  }
}
