body {
  background: linear-gradient(to right, #d9b3ff, #ffb3d9);
  height: 100%;
  margin: 0;
  text-align: center; 
}


.container {
  width: 500px;
  min-height: 400px; 
  margin: calc(50vh - 200px) auto 0; 
  padding: 50px 20px;
  background-color: white;
  border-radius: 10px;
}

form {
  display: inline-block; 
  text-align: center;   
}


input[type="email"],
input[type="text"],
input[type="password"] {
  height: 30px;
  width: 250px;
  margin: 10px 0;
  border-radius: 4px;
  border: 2px solid rgb(185, 183, 183);
  padding-left: 8px;
  font-size: 15px;
}


.agree {
  margin: 10px 130px;
 
  text-align: left;      
}

.check {
  vertical-align: middle;
  margin-right: 8px;       
  width: 16px;
  height: 16px;
}

.ch {
  vertical-align: middle;
  font-size: 14px;
}


button {
  width: 200px;
  height: 40px;
  margin: 10px 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(to right, #6f08d5, #ffb3d9);
  color: white;
}

a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(221, 78, 221);
}
