body{
background: linear-gradient(to right, #d9b3ff, #ffb3d9);
text-align: center;
  height: 100%;
}
.container{
  width: 500px;
  height: 400px;
  margin: calc(50vh - 250px) auto 0;
padding-top: 50px;
background-color: white;
}


input{
height: 30px;
width: 300px;
margin-top: 13px;
border-radius: 4px;
background-color: white;
border: 2px solid rgb(185, 183, 183);
font-size: 15px;
margin-bottom: 10px;
}

button{
  height: 40px;
  width: 110px;
  border: none;
 border-radius: 4px;
 cursor: pointer;
}
.sign{
  background-color: white;
   border: 2px solid rgb(185, 183, 183);
   font-weight: bold;
}
.log{
 background: linear-gradient(to right, #6f08d5, #ffb3d9);
color: white;
font-weight: bold;
}
a{
  text-decoration: none;
  color: rgb(221, 78, 221);
  cursor: pointer;
  
}
.btn{
  margin-top: 20px;
  width: 300px;
   background: linear-gradient(to right, #6f08d5, #ffb3d9);
   color: white;
    font-weight: bold;
}